<!-- 商品列表页的页头 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="商品搜索">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- 商品列表页的主体 -->
<ion-content>
  <!-- 商品列表 -->
  <ion-card>
    <ion-item detail="true" *ngFor="let p of productList">
      <ion-thumbnail slot="start">
        <img [src]="url.host + p.pic">
      </ion-thumbnail>
      <ion-label>
        {{p.title}}
        <ion-text color="danger">
          <p>{{p.price | currency:'￥'}}</p>
        </ion-text>
      </ion-label>
      <ion-button [routerLink]=" '/product-detail/' + p.lid " slot="end">
        查看详情
      </ion-button>
    </ion-item>
  </ion-card>
  <!-- 无限滚动 -->
  <!-- <ion-button *ngIf="!hasMore" expand="block" disabled="true">
    没有更多数据可供加载了
  </ion-button> -->

  <ion-infinite-scroll *ngIf="hasMore; else myButton" #myInfiniteScroll threshold="30px" (ionInfinite)="loadData()">
     <ion-infinite-scroll-content loadingText="加载中..." loadingSpinner="bubbles">
     </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-template #myButton>
    <ion-button expand="block" disabled="true">
      没有更多数据可供加载了
    </ion-button>
  </ng-template>

</ion-content>